<div class="container">
  <div class="row heading">
    <div class="col-md-12">

      <h1>Edit Registered Applications</h1>
    </div>
  </div>

  <div class="row content">
    <div class="col-md-12 body">

      <%= render partial: 'form', locals: { registeredapp: @registeredapp } %>

    </div>
  </div>

</div>
