<div class="container">

  <div class="row heading">
    <div class="col-md-12">
      <h1>Registered Applications</h1>
    </div>
  </div>

  <div class="row new-app">
    <div cclass="col-md-12">
      <%= link_to "New App", new_registeredapp_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="row content">
    <div class="col-md-12">
      <% @registeredapps.each do |registeredapp| %>
        <div class="media">
          <h4 class="media-body">
            <%= link_to registeredapp.name, registeredapp %>
          </h4>
        </div>
      <% end %>
    </div>
  </div>

</div>
